@use '../base' as b;
@use '../typography';

.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30vw);
  @include b.darkBackground(.4);

  .card {
    &-overlay {
      display: none;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
  }
}
